{% extends 'base.html.twig' %}

{% block title %}Sign in
{% endblock %}

{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger" id="alertMsg">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}

					<div class="d-flex flex-column min-h-100 justify-content-center align-items-center">
						<h3 class="mb-3 font-weight-normal text-secondary">Please sign in</h3>
						<div class="col-lg-3 text-secondary">
							<label for="inputEmail">Email</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
						</div>
						<div class="col-lg-3 mt-2 text-secondary">
							<label for="inputPassword">Password</label>
							<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						</div>
						<button class="mt-2 btn btn-primary text-btn" type="submit">
							Sign in
						</button>
						<a href="{{ path('forgotten_password') }}" class="btn btn-secondary mt-2 btn-sm text-btn">Reset password</a>
					</div>
				</form>

			</div>
		</div>
	</section>

{% endblock %}
