<style>
	.svg_gris {
		filter: invert(50%) sepia(6%) saturate(630%) hue-rotate(167deg) brightness(87%) contrast(86%);
	}
</style>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f7f7f7">
	<div class="container-fluid">

		<a class="navbar-brand" href="{{ path ('app_main') }}"><img src="{{ asset('icon/favicon-64x64.png') }}" alt="logo" width="52" class="d-inline-block align-text-bottom"><span class="fs-4 fw-bolder ms-1">
				My Inventory</span>
			<span class="ps-3 d-inline-block align-middle" id="bar"></span>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#my_navbar" aria-controls="my_navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		{% if is_granted('ROLE_USER') %}

			<div class="collapse navbar-collapse" id="my_navbar">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row">
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link active" title="Home page" href="{{ path ('app_main') }}">Home</a>
					</li>
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link" title="Products list" href="{{ path ('app_product_index') }}">Products list</a>
					</li>
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link" title="Edit user" href="{{ path ('app_user.edit') }}">Edit user</a>
					</li>
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link" title="Sign out" href="{{ path ('app_logout') }}">Sign out</a>
					</li>
				</ul>
			</div>
		{% else %}
			<div class="collapse navbar-collapse" id="my_navbar">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row">
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link active" title="Sign in" href="{{ path ('app_login') }}">Sign in</a>
					</li>
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link" title="Register" href="{{ path ('app_register') }}">Register</a>
					</li>
				</ul>
			</div>
		{% endif %}
	</div>
</nav>
