{# liste des pages où la barre de recherche doit être affichée #}
{% set pages_with_search = ['app_product_index', 'app_main', 'app_product_search'] %}

	<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
	  <div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home') }}">
		  <img src="{{ asset('build/icon/myInventory.png') }}" alt="logo" height="40" class="d-inline-block align-text-bottom">
		  <span class="ps-3 d-inline-block align-middle" id="bar"></span>
		</a>

		{% if is_granted('ROLE_USER') %}
		  {% if app.request.get('_route') in pages_with_search %}
			<form class="d-flex" action="{{ path('app_product_search') }}">
			  <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
			  <button class="btn btn-outline-light" type="submit" title="Click to search"><i class="fa-solid fa-magnifying-glass"></i></button>
			</form>
		  {% endif %}
		{% endif %}
	
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#my_navbar" aria-controls="my_navbar" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse justify-content-end" id="my_navbar">
		  <ul class="navbar-nav mb-2 mb-lg-0 d-flex flex-row nav-justify-icons">
			{% if is_granted('ROLE_USER') %}
				<li class="nav-item me-3 me-lg-0">
				  <a class="nav-link text-light d-none d-lg-flex" title="Critical products" href="{{ path('app_main') }}">To watch</a>
				  <a class="nav-link text-light d-flex d-lg-none" title="Critical products" href="{{ path('app_main') }}"><i class="bi bi-exclamation-square"></i></a>
				</li>
			  <li class="nav-item me-3 me-lg-0">
				<a class="nav-link text-light d-none d-lg-flex" title="Products list" href="{{ path('app_product_index') }}">Products list</a>
				<a class="nav-link text-light d-flex d-lg-none" title="Products list" href="{{ path('app_product_index') }}"><i class="bi bi-list-columns-reverse"></i></a>
			  </li>
			  <li class="nav-item me-3 me-lg-0">
				<a class="nav-link text-light d-none d-lg-flex" title="Add a new product" href="{{ path('app_product_new') }}">Add product</a>
				<a class="nav-link text-light d-flex d-lg-none" title="Add a new product" href="{{ path('app_product_new') }}"><i class="bi bi-bag-plus-fill"></i></a>
			  </li>
			  <li class="nav-item me-3 me-lg-0">
				<a class="nav-link text-light d-none d-lg-flex" title="Edit user" href="{{ path('app_user.edit') }}">Edit user</a>
				<a class="nav-link text-light d-flex d-lg-none" title="Edit user" href="{{ path('app_user.edit') }}"><i class="bi bi-person-gear"></i></a>
			  </li>
			  <li class="nav-item me-3 me-lg-0">
				<a class="nav-link text-light d-none d-lg-flex" title="Sign out" href="{{ path('app_logout') }}">Sign out</a>
				<a class="nav-link text-light d-flex d-lg-none" title="Sign out" href="{{ path('app_logout') }}"><i class="bi bi-door-closed"></i></a>
			  </li>
			{% else %}
			  <li class="nav-item me-3 me-lg-0">
				<a class="nav-link text-light d-none d-lg-flex" title="Sign in" href="{{ path('app_login') }}">Sign in</a>
				<a class="nav-link text-light d-flex d-lg-none" title="Sign in" href="{{ path('app_login') }}"><i class="bi bi-door-open"></i></a>
			  </li>
			  <li class="nav-item me-3 me-lg-0">
				<a class="nav-link text-light d-none d-lg-flex" title="Register" href="{{ path('app_register') }}">Register</a>
				<a class="nav-link text-light d-flex d-lg-none" title="Register" href="{{ path('app_register') }}"><i class="bi bi-r-circle"></i></a>
			  </li>
			{% endif %}
		  </ul>
		</div>
	  </div>
	</nav>
	