{% extends 'base.html.twig' %}

{% block title %}MyStock - Mon espace
{% endblock %}

{% block body %}
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
		}
	</style>
	<div class="container">
		<h1>Hello
			{{ app.user.name }}</h1>
		<div class="row">
			<div class="col">
				{% if app.user.products|length > 0 %}
					<table>
						<tr>
							<th>Name</th>
							<th>Brand</th>
							<th>Category</th>
							<th>Quty</th>
							<th>U Price</th>
							<th>U Weight</th>
							<th>DLC</th>
							<th>Location</th>
							<th>Remark</th>
						</tr>
						{% for product in app.user.products %}
							<tr>
								<td>{{product.name}}</td>
								<td>{{product.brand}}</td>
								<td>{{product.category.name}}</td>
								<td>{{product.quantity}}</td>
								<td>{{product.price}}</td>
								<td>{{product.uweight}}</td>
								<td>{{product.limitdate|date('d-m-Y')}}</td>
								<td>{{product.location}}</td>
								<td>{{product.remark}}</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
					no records found
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
