{% extends 'base.html.twig' %}

{% block title %}MyStock - Mon espace
{% endblock %}

{% block body %}
	{% include 'main/_bar.html.twig' %}
	<div class="container">
		<h1>Hello
			{{ app.user.name }}</h1>
		<div class="row">
			<div class="col">
				<table>
					<tr>
						<th>Name</th>
						<th>Brand</th>
						<th>Quty</th>
						<th>U Price</th>
						<th>U Weight</th>
						<th>DLC</th>
						<th>Location</th>
						<th>Remark</th>
					</tr>
					{% for product in products %}
						<tr>
							<td>{{product.name}}</td>
							<td>{{product.brand}}</td>
							<td>{{product.quantity}}</td>
							<td>{{product.price}}</td>
							<td>{{product.uweight}}</td>
							<td>{{product.limitdate|date('d-m-Y')}}</td>
							<td>{{product.location}}</td>
							<td>{{product.remark}}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}
