{% extends 'base.html.twig' %}

{% block title %}Overview
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="ms-2 text-secondary">
			<h3>Hello
				{{ app.user.name }},</h3>
		</div>
		<div class="row mt-2">
			<div class="col ms-2 text-secondary">
				{% if app.user.products.count %}
					{% if perime|length %}
						<h4>Here is the list of products whose date is expired:
						</h4>
						<span class="badge text-bg-primary">
							{% if perime|length == 1 %}
								{{ perime|length }}
								item
							{% elseif perime|length > 1 %}
								{{ perime|length }}
								items
							{% endif %}
						</span>
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th>Brand</th>
									<th>Category</th>
									<th>Quantity</th>
									<th>Expiration date</th>
									<th>Expiration time</th>
									<th>Location</th>
									<th>actions</th>
								</tr>
							</thead>
							<tbody>
								{% for product in perime %}
									{% if product.peremptionalert is defined and product.peremptionalert is not null %}
										<tr {% if product.peremptionalert == '0' %} style="background-color: {{product.peremptioncss}}" {% endif %}>
											<td>{{product.name}}</td>
											<td>{{product.brand}}</td>
											<td>{{product.category.name}}</td>
											<td>{{product.quantity}}</td>
											<td>{{product.limitdate|date('d/m/Y')}}</td>
											<td>
												{% if product.peremptiontime < 0 %}
													expired
													{{ product.peremptiontime|abs }}
													days ago
												{% else %}
													{{ product.peremptiontime }}
													days left
												{% endif %}
											</td>
											<td>{{product.location}}</td>
											<td>
												<a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary btn-sm">show</a>
												<a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-primary btn-sm">edit</a>
											</td>
										</tr>

									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<h4>Congratulation: no expired product.
						</h4>
					{% endif %}
					{% if soon_perime|length %}
						<h4>Here is the list of products whose date will expire in next
							{{ app.user.peremptionwarning }}
							days:
						</h4>
						<span class="badge text-bg-primary">
							{% if soon_perime|length == 1 %}
								{{ soon_perime|length }}
								item
							{% elseif soon_perime|length > 1 %}
								{{ soon_perime|length }}
								items
							{% endif %}
						</span>
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th>Brand</th>
									<th>Category</th>
									<th>Quantity</th>
									<th>Expiration date</th>
									<th>Expiration time</th>
									<th>Location</th>
									<th>actions</th>
								</tr>
							</thead>
							<tbody>
								{% for product in soon_perime %}
									{% if product.peremptionalert is defined and product.peremptionalert is not null %}
										<tr {% if product.peremptionalert == '1' %} style="background-color: {{product.peremptioncss}}" {% endif %}>
											<td>{{product.name}}</td>
											<td>{{product.brand}}</td>
											<td>{{product.category.name}}</td>
											<td>{{product.quantity}}</td>
											<td>{{product.limitdate|date('d/m/Y')}}</td>
											<td>{{ product.peremptiontime }}
												days left</td>
											<td>{{product.location}}</td>
											<td>
												<a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary btn-sm">show</a>
												<a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-primary btn-sm">edit</a>
											</td>
										</tr>

									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					{% endif %}
				{% else %}
					<p>Click on "Products list" to start adding products to your inventory.</p>
				{% endif %}
			</div>
		</div>
		<!-- HTML for charts-->
		{% if app.user.products.count %}
			<div class="row mt-2">
				<div class="col ms-2 text-secondary">
					<h4>Weight by category
					</h4>
					<div id="chartdiv" style="width: 100%; height: 450px;"></div>
				</div>
			</div>
		{% endif %}
	</div>

	<!-- Resources -->
	<script src="//cdn.amcharts.com/lib/4/core.js"></script>
	<script src="//cdn.amcharts.com/lib/4/charts.js"></script>
	<script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>

	<!-- Chart code -->
	<script>
		// Create chart instance
am4core.useTheme(am4themes_animated);
var chart = am4core.create("chartdiv", am4charts.PieChart);

// Add data
chart.data = [{% for key,value in chart %}{
"category": "{{ key }}",
"value": {{ value }}
},{% endfor %}];


// Add and configure Series
var pieSeries = chart.series.push(new am4charts.PieSeries());
pieSeries.labels.template.text = "{category} [bold]{value.percent.formatNumber('#.0')}%[/]";
pieSeries.dataFields.value = "value";
pieSeries.dataFields.category = "category";
pieSeries.slices.template.tooltipText = "{value.value} Kg/{value.sum} Kg";
chart.innerRadius = am4core.percent(30);
pieSeries.slices.template.stroke = am4core.color("#212529");
pieSeries.slices.template.strokeWidth = 1;
pieSeries.slices.template.strokeOpacity = 0.7;
	</script>
{% endblock %}
