{% extends 'base.html.twig' %}

{% block title %}MyStock
{% endblock %}

{% block body %}

	<div class="container">
		<div class="ms-2 text-secondary">
			<h3>Hello
				{{ app.user.name }},</h3>
			<h4>Here is the list of products whose date will expire soon:
			</h4>
		</div>
		<div class="row">
			<div class="col">
				{% if app.user.products|length > 0 %}
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Brand</th>
								<th>Category</th>
								<th>Quantity</th>
								<th>Price ({{ app.user.currency.name }})</th>
								<th>Weight (Kg)</th>
								<th>Expiration date</th>
								<th>Expiration time</th>
								<th>Location</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for product in app.user.products %}
								{% if product.peremptionalert is defined and product.peremptionalert is not null %}
									<tr {% if product.peremptionalert == '0' %} class="table-danger" {% elseif product.peremptionalert == '1' %} class="table-warning" {% elseif product.peremptionalert == '2' %} class="table-light" {% endif %}>
										<td>{{product.name}}</td>
										<td>{{product.brand}}</td>
										<td>{{product.category.name}}</td>
										<td>{{product.quantity}}</td>
										<td>{{product.price / 100}}</td>
										<td>{{product.uweight / 1000}}</td>
										<td>{{product.limitdate|date('d/m/Y')}}</td>
										<td>{{ product.peremptiontime }}
											days left</td>
										<td>{{product.location}}</td>
										<td>
											<a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary">show</a>
											<a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-primary">edit</a>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					no records found
					<a href="{{ path('app_product_new') }}" class="btn btn-primary">Add a product</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
