{% extends 'base.html.twig' %}

{% block title %}My products
{% endblock %}

{% block body %}
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<div class="container-fluid">
		<div class="ms-2 text-secondary">
			<div class="row mt-2">
				<div class="col ms-2 text-secondary">
					{% if app.user.products.count %}
						<h4>Full list of products:</h4>
						<span class="badge text-bg-primary">
							{% if app.user.products.count == 1 %}
								{{ app.user.products.count }}
								item
							{% elseif app.user.products.count > 1 %}
								{{ app.user.products.count }}
								items
							{% endif %}
						</span>
						{% if report[0] != '0' %}
							<span class="badge text-bg-primary">{{ report[0] }}
								Kg</span>
						{% endif %}
						{% if report[1] != '0' %}
							<span class="badge text-bg-primary">{{ report[1] }}
								{{ app.user.currency.name }}</span>
						{% endif %}
						<a href="{{ path('app_product_new') }}" class="btn btn-primary" style="float: right">Add a product</a>
					{% else %}
						<p>Start your inventory by adding your first product.</p>
						<a href="{{ path('app_product_new') }}" class="btn btn-primary" style="float: left">Add a product</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% if app.user.products.count %}
			<table class="table table-hover js-sort-table">
				<thead>
					<tr>
						<th class="js-sort-string" style="cursor: pointer;">Name</th>
						<th class="js-sort-string" style="cursor: pointer;">Brand</th>
						<th class="js-sort-string" style="cursor: pointer;">Category</th>
						<th class="js-sort-number" style="cursor: pointer;">Quantity</th>
						<th class="js-sort-number" style="cursor: pointer;">Price ({{ app.user.currency.name }})</th>
						<th class="js-sort-number" style="cursor: pointer;">Weight (Kg)</th>
						<th class="js-sort-date" style="cursor: pointer;">Expiration date</th>
						<th>Expiration time</th>
						<th class="js-sort-string" style="cursor: pointer;">Location</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr {% if product.peremptionalert == '0' %} class="table-danger" {% elseif product.peremptionalert == '1' %} class="table-warning" {% elseif product.peremptionalert == '2' %} class="table-secondary" {% endif %}>
							<td>{{ product.name }}</td>
							<td>{{ product.brand }}</td>
							<td>{{product.category.name}}</td>
							<td>{{ product.quantity }}</td>
							<td>{{ product.price / 100 }}</td>
							<td>{{ product.uWeight / 1000}}</td>
							<td>{{ product.limitDate ? product.limitDate|date('d/m/Y') : '' }}</td>
							<td>
								{% if product.peremptiontime < 0 %}
									expired
									{{ product.peremptiontime|abs }}
									days ago
								{% else %}
									{{ product.peremptiontime }}
									days left
								{% endif %}
							</td>
							<td>{{ product.location }}</td>
							<td>
								<a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary btn-sm">show</a>
								<a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-primary btn-sm">edit</a>
								<a href="{{ path('app_product_new', {'id': product.id}) }}" class="btn btn-primary btn-sm">clone</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<script src="{{ asset('js/sort-table.js') }}"></script>
		{% endif %}
	</div>
{% endblock %}
