{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('sortable') }}
{% endblock %}

{% block title %}Search Results
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="ms-2 text-secondary">
			<div class="row mt-2">
				<div class="col ms-2 text-secondary">
					{% if products|length %}
						<h4>Search results for "{{ query }}":</h4>
						<span class="badge text-bg-primary">
							{% if products|length == 1 %}
								{{ products|length }}
								item
							{% elseif products|length > 1 %}
								{{ products|length }}
								items
							{% endif %}
						</span>
						{% if report[0] != '0' %}
							<span class="badge text-bg-primary">{{ report[0] }}
								Kg</span>
						{% endif %}
						{% if report[1] != '0' %}
							<span class="badge text-bg-primary">{{ report[1] }}
								{{ app.user.currency.name }}</span>
						{% endif %}
					{% else %}
						<p>
							<i class="fa-regular fa-face-frown"></i>
							Sorry, no result found for "{{ query }}"
							<i class="fa-regular fa-face-frown"></i>
						</p>
						<a href="{{ path('app_product_index') }}" class="btn btn-primary text-btn left" title="Go back">
							<i class="fa-solid fa-arrow-left"></i>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% if products|length %}
			<table class="products-table sortable">
				<thead>
					<tr>
						<th class="product-sortable">Name</th>
						<th class="d-none d-md-table-cell product-sortable">Brand</th>
						<th class="d-none d-lg-table-cell product-sortable">Category</th>
						<th class="d-none d-md-table-cell product-sortable">Quantity</th>
						<th class="d-none d-lg-table-cell product-sortable">Expiration date</th>
						<th class="product-sortable">Expiration time</th>
						<th class="d-none d-lg-table-cell product-sortable">Location</th>
						<th class="no-sort">actions</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr {% if product.peremptionalert == '0' or product.peremptionalert == '1' %} style="background-color: {{product.peremptioncss}}" {% endif %}>
							<td>{{ product.name }}</td>
							<td class="d-none d-md-table-cell">{{ product.brand }}</td>
							<td class="d-none d-lg-table-cell">{{product.category.name}}</td>
							<td class="d-none d-md-table-cell">{{ product.quantity }}</td>
							<td class="d-none d-lg-table-cell" data-sort="{{ product.limitDate|date('U') }}">{{ product.limitDate|date('d/m/Y') }}</td>
							<td data-sort="{{ product.limitDate|date('U') }}">
								{% if product.peremptiontime < 0 %}
									{{ product.peremptiontime|abs }}
									days ago
								{% else %}
									{{ product.peremptiontime }}
									days left
								{% endif %}
							</td>
							<td class="d-none d-lg-table-cell">{{ product.location }}</td>
							<td>
								<a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary btn-sm text-btn " title="See this product">
									<i class="bi bi-eye"></i>
								</a>
								<a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-primary btn-sm text-btn" title="Edit this product">
									<i class="bi bi-pencil"></i>
								</a>
								<a href="{{ path('app_product_new', {'id': product.id}) }}" class="btn btn-primary btn-sm text-btn" title="Clone this product">
									<i class="bi bi-magic"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<script src="{{ asset('js/sortable.min.js') }}"></script>
		{% endif %}
	</div>
{% endblock %}
